<div class="row">
  <div class="col-xs-4">
    <%= link_to raw("<i class='fa fa-plus margin-right-10'></i> New Link Type"), new_admin_link_type_path, :class=>"btn btn-primary", :remote=>true %>
  </div><!-- /.col-xs-6 -->

  <div class="col-xs-8">

    <%= form_for LinkType.new, :url => admin_link_types_path, :method => :get, :remote=>true, :html=>{:class=>"pull-right", :style=>"margin-bottom:0px;"} do |f| %>

    <div class="input-group">
      <input type="text" name="query" placeholder="Search Link Types ..." class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default"><i class='fa fa-search margin-right-10'></i>Search!</button>
      </span>
    </div><!-- /input-group -->
  
    <%- end %>
  
  </div><!-- /.col-xs-6 -->
</div><!-- /.row -->

  
