<%# Displays list of @link_types %>
<% @link_types.each do |link_type| %>
	<div id="div_link_type_<%= link_type.id %>">
		<%= render :partial=>"item", :locals=>{:link_type=>link_type} %>
	</div>
<% end %>
<%= theme_panel_message(I18n.translate("forms.no_results")) if @link_types.blank? %>

<%= theme_paginate(@link_types) %>
