<%# Displays list of @clients %>
<% @clients.each do |client| %>
  <div id="div_client_<%= client.id %>">
    <%= render :partial=>"item", :locals=>{:client=>client} %>
  </div>
<% end %>
<%= theme_panel_message(I18n.translate("forms.no_results")) if @clients.blank? %>

<%= theme_paginate(@clients) %>
