<div class="panel panel-default media p-5">
  <a class="media-left" href="#" style="width:25%;">
    <%= display_image(client, "logo.image.url",
                        place_holder: {width: 125, height: 90, text: "<No Image>"}
                        ) %>
  </a>
  <div class="media-body">
    <%= link_to client.name, admin_client_path(client), :remote=>true, :class=>"media-heading text-color-blue fs-16" %>
    <% location = client.display_address %>
    <% unless location.blank? %>
      <div class="text-color-green fs-12 mt-5"><i class="fa fa-map-marker"></i> <%= location %> </div>
    <% end %>
    <div class="text-color-gray fs-12"> <%= scrap_word(client.description, 120) %></div>
  </div>
</div>

