<div class="panel panel-default media p-5">
  <a class="media-left" href="#" style="width:25%;">
    <%= display_image(client, "logo.image.url",
                        place_holder: {width: 125, height: 90, text: "<No Image>"}
                        ) %>
  </a>
  <div class="media-body">
    <%= theme_item_title(client.name, admin_client_path(client)) %>
    <%#= theme_item_sub_title(client.display_address) %>
    <%= theme_item_description(client.description, 150) %>
  </div>
</div>

