<% if @client %>
  <% if @client.new_record? %>

  	// Fill the right box with first client details
  	$('#div_client_details').html("<%= escape_javascript(render(:partial=>'summary')) %>");
	
  <% else %>
	
  	// Render the show partial to show flash message
  	$('#div_client_details').html("<%= escape_javascript(render(:partial=>'show')) %>");
	
  <% end %>

  // Render clients List
  $('#div_client_collections').html("<%= escape_javascript(render(:partial=>'index')) %>");

<% else %>

  var noResultsText = "<div id=\"div_admin_empty\" class=\"box text-color-grey padding-80 text-align-center\" style=\"height:200px;\"><%= translate("forms.no_results_found") %></div>";
  $('#div_client_index').html(noResultsText);
  $('#div_client_details').html(noResultsText);

<% end %>
