<div class="row">
  <div class="col-xs-4">
    <%= link_to raw("<i class='icon-plus icon-white mr-5'></i> New Project Link"), new_admin_project_project_link_path, :class=>"btn btn-warning", :remote=>true %>
  </div><!-- /.col-xs-6 -->

  <div class="col-xs-8">

    <%= form_for ProjectLink.new, :url => admin_project_project_links_path, :method => :get, :remote=>true, :html=>{:class=>"pull-right", :style=>"margin-bottom:0px;"} do |f| %>

    <div class="input-group">
      <input type="text" name="query" placeholder="Search Project Links ..." class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-default">Search!</button>
      </span>
    </div><!-- /input-group -->

    <%- end %>

  </div><!-- /.col-xs-6 -->
</div><!-- /.row -->


