<% project_links = project.project_links.order("created_at ASC") %>

<div class="panel panel-archon mt-10">
  <div class="panel-heading">
    <%= theme_panel_title("Project Links", "pull-left") %>
    <%= theme_button('Add a new link', 'plus', new_admin_project_project_link_path(project), {btn_type: :default, btn_size: :xs, classes: "pull-right"}) %>
    <%= clear_tag(10) %>
  </div>
  <div class="panel-body clearfix">

    <div id="form_project_links"></div>

    <table class="table table-condensed table-hover table-striped mt-20">
      <thead>
        <tr>
          <th>Sl.</th>
          <th>Image</th>
          <th>Project Link</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% if project_links.any? %>
          <% project_links.each do |project_link| %>
            <tr class="text-color-gray">
              <%= render :partial => "admin/project_links/item", :locals=>{:project => project, :project_link => project_link} %>
            </tr>
          <% end %>
        <% else %>
          <tr class="text-color-gray">
            <td colspan="4">There are no project links added to this project.</td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>

</div>