<% @projects.each do |project| %>
	<div id="div_project_<%= project.id %>">
		<%= render :partial=>"item", :locals=>{:project=>project} %>
	</div>
<% end %>
<%= theme_panel_message(I18n.translate("forms.no_results")) if @projects.blank? %>

<%= theme_paginate(@projects) %>

