<div class="panel panel-default media p-5">
  <a class="media-left" href="#" style="width:25%;">
    <%= display_image(project, "logo.image.url",
                      place_holder: {width: 125, height: 90, text: "<No Image>"}
                      ) %>
 	</a>
  <div class="media-body">
 		<%= link_to project.name, admin_project_path(project), :remote=>true, :class=>"text-color-blue fs-16" %>
	  <div class="text-color-red fs-14"><%= project.client.name if project.client %></div>
  	<div class="text-color-gray fs-12"> <%= scrap_word(project.description, 120) %></div>
  </div>

</div>


