<% projects = client.projects.order("name ASC") %>
<h4 class="text-color-gray">Projects (<%= @client.projects.count %>)</h3>
<% if projects.any? %>
  <% projects.each do |project| %>
    <div class='p-10'>
      <%= render :partial => "admin/clients/projects/item", :locals=>{:project => project} %>
    </div>
  <% end %>
<% else %>
  <%= content_tag :div, "No Projects found", :class=>"text-align-center text-color-gray fs-14" %>
<% end %>

