<%# describes about each user %>
<div class="clearfix" style="margin-bottom:5px;height:auto;">

   	<div class="visible-md visible-lg pull-left" style="width:30%;margin-right:3%">
         <%= display_image(project, "logo.image.url",
                        width: "100%",
                        place_holder: {width: 65, height: 40, text: "<No Image>"}
                        ) %>
   	</div>
   	<div class="pull-left" style="width:67%;">
   		<%= link_to project.name, admin_project_path(project), :class=>"text-color-blue fs-15" %>
   		<div class="text-color-red fs-14"> <%= project.roles.count %> members</div>
		<div class="text-color-gray fs-13"><%= project.project_links.count %> links </div>
    </div>

</div>


