<a class="media-left" href="#" style="width:25%;">
  <%= display_image(project, "logo.image.url",
    place_holder: {width: 125, height: 90,
                    text: "<No Image>"}) %>
</a>
<div class="media-body">
  <%= link_to project.name, admin_project_path(project), :class=>"text-color-blue fs-16" %>

  <div class='cl-10'></div>
  <% project.users.each do |user| %>
    <div class="pull-left ml-10">
      <%= theme_user_image(user, width: 30) %>
    </div>
  <% end %>
  <div class="cl"></div>
</div>


