<%# describes about each user %>
<div class="web-stats info clearfix" style="margin-bottom:5px;padding:5px;height:auto;">

   	<div class="visible-md visible-lg pull-left mr-10" style="width:20%;">
      <%= display_image(project, :logo, "50px") %>
   	</div>
   	<div class="pull-left" style="width:70%;">
   		<%= link_to project.name, project_dashboard_path(pretty_url: project.pretty_url), :class=>"text-color-blue fs-14" %>
   		<div class="text-color-red fs-12"> <%= project.roles.count %> team members</div>
		<div class="text-color-gray fs-11"><%= project.project_links.count %> project links </div>
    </div>

</div>


